/* Global CSS */
.Shadow{
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.color{
  color: #ff6406;
  font-weight:700;
  -webkit-text-stroke: 0.1px #3a3a3a;
}

.line{
  margin-bottom: 0px;
}

Link{
  font-size: 20px;
} 

a{
  text-decoration: none;
  color: #fff;
}


/* App.js CSS File */
.header-gradient{
  background: #eacda3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size:20px;
}

/* landingpage.js CSS File */
.profile-detail{
  margin-top:10%
}

.hello{
  -webkit-text-stroke: 0.4px grey;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
  font-size: 3vw;
  text-align: center;  
}

.profile-description{
  text-align: center;
  font-size:2.2vw;
  margin-top: 50px;
}


@media screen and (max-width: 600px) {
  .profile-detail {
    margin-top:35%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .profile-description {
    margin-top:0%;
    font-size:2.8vw /* The width is 100%, when the viewport is 800px or smaller */
  }
  .hello{
    font-size: 5vw
  }
}

/* projects.js CSS File */
.projects{
  margin-top: 3%;
  display: flex;
  text-align: center;
  width: 100%
}

.card{
  width: 70%;
  margin: 0 auto; 
  }

/* .Tilt{
  margin-left:15rem;
} */


/* contact.js CSS File */
.fa{
  color: white;
  font-size: 2rem
}

.fa-linkedin-square{
  color: #0072b1;
  font-size: 2rem
}

.fa-envelope-square{
  color: #D44638;
  font-size: 2rem
}

.mdl-list__item{
  font-size: 1vw;
}

.list{
  font-size: 1.3vw;
  margin: 2rem;
  text-decoration: none;
  overflow-wrap: break-word;
  
}
  
.contact-heading{
  text-align:center; 
margin: 4rem  ;
font-size: 30px;
}

.border-contact{
  border-left: 2px solid red;
  border-right: 2px solid red;
}

@media screen and (max-width: 600px) {
  .list {
   /* The width is 100%, when the viewport is 800px or smaller */
    font-size: 3.05vw;
    border-left:none;
  }
  .contact-heading{
    width:310px;
    margin-left:8%;
  }
}


/* about.js CSS File */
.about-me{
  font-size:16px;
  text-align: left;
  letter-spacing: 0.5px;
}


/* resume.js CSS File */

.resume-button_p{
 text-align: center;
 padding: 50px;
}

.resume-button{
  margin:auto 50px;
  width:300px;
  padding: 10px;
  border-radius: 20px;
  border:'1px solid black';
  color: orange;
  font-size: 50px;
}

@media screen and (max-width: 800px) {
  .resume-button {
   /* The width is 100%, when the viewport is 800px or smaller */
   width:80%;
   margin:8%
  }
}