/* Global CSS */
.Shadow{
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.color{
  color: #abfff3c7;
  font-weight:800;
  -webkit-text-stroke: 0.2px #3a3a3a;
}

.line{
  margin-bottom: 0px;
}

Link{
  font-size: 20px;
} 

a{
  text-decoration: none;
  color: #fff;
}



/* App.js CSS File */

#front-page{
   height: 100vh; 
}

.header-gradient{  
  font-size:20px;
}

/* landingpage.js CSS File */


.profile-detail{
  margin-top:30vh;
  text-align: center;
  color: #abfff3c7;
}

.hello{
  -webkit-text-stroke: 0.4px grey;
  text-shadow:  9px 8px 0px rgba(0,0,0,0.15);
  z-index: 2;
  font-size: 2vw;
  text-align: center;  
}

.name{
  font-size:6vw;
  /* text-shadow:  6px 5px 0px rgba(255,100,6,0.1); */
}

.profile-description{
  text-align: center;
  font-size:2.0vw;
  margin-top: 50px;

}

.landingpage-container{
  height:100vh;
  background:url(./Assets/Images/hbdd12.png);
  background-attachment: fixed;
  margin:0px;
  z-index: -1;
  background-size:cover;
  text-shadow: 1px 2px #000;
	box-shadow: inset 10 10px 25px #eeecec, inset -100px -10px 25px #af2828;
}


@media screen and (max-width: 768px) {
  .name{
   font-size:14vw;
  }

  .landingpage-container{
    display:block;
    margin:0 auto;
  }

  .profile-description {
  margin-top: 15px;
    font-size:2.8vw
  }

  .hello{
    font-size: 5vw
  }
}



/* about.js CSS File */
.about-me{
  font-size:19px;
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 25px;
}


/* projects.js CSS File */
.projects{
  margin-top: 3%;
  display: flex;
  text-align: center;
  width: 100%
}

.project-container{
  background:url(./Assets/Images/hbd.jpg);
  background-attachment: fixed;
  margin:0px;
  z-index: 1;
  background-size:cover;
  box-shadow: inset 10px 10px 25px #a7a3a3, inset -10px -10px 25px #504b4b;
}


.project-container::after {
	content: '';
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: inset 100px 10px 25px #000000, inset -10px -10px 25px #000000;
}



/* contact.js CSS File */
.fa{
  color: greenyellow;
  font-size: 2rem
}

.fa-linkedin-square{
  color: #0072b1;
  font-size: 2rem
}

.fa-envelope-square{
  color: #D44638;
  font-size: 2rem
}

.mdl-list__item{
  font-size: 1vw;
}

.list{
  font-size: 1.3vw;
  margin: 2rem;
  text-decoration: none;
  overflow-wrap: break-word;
  margin: 10px 0 10px 0
}
  
.contact-heading{
  text-align:center; 
  margin: 4rem  ;
  font-size: 30px;
}

.border-contact{
  border-left: 2px solid red;
  border-right: 2px solid red;
}

@media screen and (max-width: 768px) {
  .list {
    font-size: 3.05vw;
    border-left:none;
  }
  .contact-heading{
    width:310px;
    margin:10vh auto;
  }
}


